# MongoDB connection string and database name
MONGODB_URI="mongodb://localhost:27017/gocontroller"
MONGODB_DB="gocontroller"

# Node environment
NODE_ENV="development"

# Port for the application
PORT=3000

# URL of the GbxConnector
NEXT_PUBLIC_CONNECTOR_URL="http://localhost:6980"

# Authentication settings
AUTH_URL="http://localhost:3000/"
AUTH_SECRET=""

# Nadeo OAuth
NADEO_CLIENT_ID=""
NADEO_CLIENT_SECRET=""
NADEO_REDIRECT_URI="http://localhost:3000/api/auth/callback/nadeo"

# Nadeo API authentication
NADEO_SERVER_LOGIN=""
NADEO_SERVER_PASSWORD=""
# Nadeo contact information, can be your discord / email etc.
NADEO_CONTACT="GoControlPanel / <your contact info>"

# Redis connection string
REDIS_URI="redis://localhost:6379"