.data-edge .react-flow__edge-path {
  stroke: var(--color-green-500);
  stroke-dasharray: 5, 5;
}

.data-edge.selected:is(:focus, :not(:focus)) .react-flow__edge-path {
  stroke: var(--color-green-700);
}

.wait-edge .react-flow__edge-path {
  stroke: var(--color-yellow-500);
}

.wait-edge.selected:is(:focus, :not(:focus)) .react-flow__edge-path {
  stroke: var(--color-yellow-700);
}

.wait-edge .react-flow__edge-path {
  stroke-dasharray: 5, 5;
}